In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
movie = pd.read_csv('data/movies_metadata_last12.csv')
rate = pd.read_csv('data/ratings_small.csv')
link = pd.read_csv('data/links_small.csv')

In [4]:
movie = movie.drop(columns=['Unnamed: 0'])
movie.head()

,id,imdb_id,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,Aniplex,...,zu_lan,num_languages,tagline_len,video_int,Canceled,In Production,Planned,Post Production,Released,Rumored
0,862,tt0114709,373554033.0,81.0,7.7,5415.0,0.0,0.0,1.0,0.0,...,0.0,1,0,0,0.0,0.0,0.0,0.0,1.0,0.0
1,8844,tt0113497,262797249.0,104.0,6.9,2413.0,0.0,1.0,0.0,0.0,...,0.0,2,41,0,0.0,0.0,0.0,0.0,1.0,0.0
2,15602,tt0113228,0.0,101.0,6.5,92.0,0.0,0.0,0.0,0.0,...,0.0,1,52,0,0.0,0.0,0.0,0.0,1.0,0.0
3,31357,tt0114885,81452156.0,127.0,6.1,34.0,0.0,0.0,0.0,0.0,...,0.0,1,78,0,0.0,0.0,0.0,0.0,1.0,0.0
4,11862,tt0113041,76578911.0,106.0,5.7,173.0,0.0,0.0,0.0,0.0,...,0.0,1,78,0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
#join with rate's movieId with link's movieId
# join movie's imdb_id with link's imdbID
rate.columns, movie.columns, link.columns

(Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object'),
 Index(['id', 'imdb_id', 'revenue', 'runtime', 'vote_average', 'vote_count',
        'Action', 'Adventure', 'Animation', 'Aniplex',
        ...
        'zu_lan', 'num_languages', 'tagline_len', 'video_int', 'Canceled',
        'In Production', 'Planned', 'Post Production', 'Released', 'Rumored'],
       dtype='object', length=342),
 Index(['movieId', 'imdbId', 'tmdbId'], dtype='object'))

In [6]:
link = link.rename(columns={"imdbId": "imdb_id"})
link.columns

Index(['movieId', 'imdb_id', 'tmdbId'], dtype='object')

In [7]:
rate.shape, movie.shape, link.shape

((100004, 4), (45451, 342), (9125, 3))

In [8]:
rate_link = pd.merge(rate, link, how="inner", on="movieId")
rate_link.shape

(100004, 6)

In [9]:
rate_link

        userId  movieId  rating   timestamp  imdb_id    tmdbId
0            1       31     2.5  1260759144   112792    9909.0
1            7       31     3.0   851868750   112792    9909.0
2           31       31     4.0  1273541953   112792    9909.0
3           32       31     4.0   834828440   112792    9909.0
4           36       31     3.0   847057202   112792    9909.0
...        ...      ...     ...         ...      ...       ...
99999      664    64997     2.5  1343761859   449040   34812.0
100000     664    72380     3.5  1344435977   362478   22825.0
100001     665      129     3.0   995232528   114131  110972.0
100002     665     4736     1.0  1010197684   234829   26602.0
100003     668     6425     1.0   993613478   120142   36807.0

[100004 rows x 6 columns]

In [10]:
movie.dropna(subset = ["imdb_id"], inplace=True)
movie.shape

(45434, 342)

In [11]:
movie.imdb_id = [int(x[-7:]) for x in movie.imdb_id]

In [12]:
df = pd.merge(rate_link, movie, how="inner", on="imdb_id")
print(df.shape)
df.head()

(99806, 347)

,userId,movieId,rating,timestamp,imdb_id,tmdbId,id,revenue,runtime,vote_average,...,zu_lan,num_languages,tagline_len,video_int,Canceled,In Production,Planned,Post Production,Released,Rumored
0,1,31,2.5,1260759144,112792,9909.0,9909,180000000.0,99.0,6.4,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
1,7,31,3.0,851868750,112792,9909.0,9909,180000000.0,99.0,6.4,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
2,31,31,4.0,1273541953,112792,9909.0,9909,180000000.0,99.0,6.4,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
3,32,31,4.0,834828440,112792,9909.0,9909,180000000.0,99.0,6.4,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
4,36,31,3.0,847057202,112792,9909.0,9909,180000000.0,99.0,6.4,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
print(df.shape)
df = df.drop(columns=['userId', 'movieId', 'imdb_id', 'id', 'tmdbId'])
print(df.shape)

(99806, 347)
(99806, 342)

In [12]:
# df.to_csv("data/movies_ratings.csv")

In [13]:
df

,userId,movieId,rating,timestamp,imdb_id,tmdbId,Unnamed: 0,id,revenue,runtime,...,zu_lan,num_languages,tagline_len,video_int,Canceled,In Production,Planned,Post Production,Released,Rumored
0,1,31,2.5,1260759144,112792,9909.0,30,9909,180000000.0,99.0,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
1,7,31,3.0,851868750,112792,9909.0,30,9909,180000000.0,99.0,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
2,31,31,4.0,1273541953,112792,9909.0,30,9909,180000000.0,99.0,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
3,32,31,4.0,834828440,112792,9909.0,30,9909,180000000.0,99.0,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
4,36,31,3.0,847057202,112792,9909.0,30,9909,180000000.0,99.0,...,0.0,1,47,0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99801,664,64997,2.5,1343761859,449040,34812.0,13228,34812,0.0,100.0,...,0.0,1,0,0,0.0,0.0,0.0,0.0,1.0,0.0
99802,664,72380,3.5,1344435977,362478,22825.0,14417,22825,33333531.0,115.0,...,0.0,1,38,0,0.0,0.0,0.0,0.0,1.0,0.0
99803,665,129,3.0,995232528,114131,110972.0,127,110972,0.0,95.0,...,0.0,1,80,0,0.0,0.0,0.0,0.0,1.0,0.0
99804,665,4736,1.0,1010197684,234829,26602.0,4606,26602,19693891.0,108.0,...,0.0,1,13,0,0.0,0.0,0.0,0.0,1.0,0.0
99805,668,6425,1.0,993613478,120142,36807.0,6277,36807,0.0,107.0,...,0.0,1,42,0,0.0,0.0,0.0,0.0,1.0,0.0

In [44]:
df = df.dropna()
clf = linear_model.Lasso(alpha=0.001)
X = df.drop(columns=['rating'])
y = df.rating
res = clf.fit(X, y)

coef = clf.coef_

features = X.columns[coef!=0]
print(features)
print(len(X.columns))
print(len(features))

Index(['timestamp', 'revenue', 'runtime', 'vote_average', 'vote_count',
       'Adventure', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy',
       'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'France', 'Italy', 'United Kingdom', 'United States of America',
       'num_countries', 'release_date_int', 'ar_lan', 'fr_lan', 'ja_lan',
       'pt_lan', 'sv_lan', 'num_languages', 'tagline_len'],
      dtype='object')
341
30